/* import fonts google */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;700;800;900&display=swap");

/* Reset CSS */

* {
    font-family: "inter";
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* navbar */

.logo2 {
    position: fixed;
    letter-spacing: 2px;
    margin-left: 2rem;
    font-size: 32px;
    margin-top: 1rem;
    font-weight: 800;
    font-family: "Inconsolata";
    color: black;
    text-decoration: none;
    z-index: 3;
}

/* main */

.conteiner-slider {
    display: flex;
    position: fixed;
    width: 50%;
    min-height: 100vh;
    transform: translate(190px, 20px);
    gap: 1rem;
}

.conteiner-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.slider {
    opacity: 0;
    transition: 0.9s;
    position: absolute;
    width: 100%;
}

.on {
    opacity: 1;
}

#prev-button,
#next-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20rem;
}

#prev-button img,
#next-button img {
    width: 70%;
    height: 70%;
    border-radius: 3px;
}

#prev-button img {
    margin-left: 100px;
}

#next-button img {
    margin-left: 70px;
}

#prev-button {
    transform: rotate(180deg);
}

button img {
    background-color: rgba(197, 197, 197, 0.295);
}

.title-boxhouse h2 {
    position: fixed;
    font-size: 15px;
    font-weight: 400;
    margin-left: -2rem;
    margin-top: -1.5rem;
    color: rgba(0, 0, 0, 0.662);
}

.title-boxhouse {
    position: absolute;
    margin-left: 76rem;
    margin-top: 2rem;
    height: 100rem;
    font-size: 19px;
}

.title-boxhouse p {
    font-size: 14px;
    font-weight: 550;
    margin-top: 4rem;
    margin-left: -2rem;
}

.title-medida {
    display: flex;
    margin-left: -1.5rem;
}

.title-medida h1 {
    color: rgba(0, 0, 0, 0.694);
    font-size: 25px;
    font-weight: 700;
    margin: 30px;
}

.title-medida P {
    margin-top: -1.4rem;
    margin-left: 1.2rem;
}

.title-medida h2 {
    position: absolute;
    margin-top: 4rem;
    margin-left: 1rem;
    font-weight: 500;
}

.title-medida h3 {
    position: absolute;
    margin-top: 4rem;
    margin-left: 5.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.694);
    font-size: 14px;
}

.title-medida h4 {
    position: absolute;
    margin-top: 4rem;
    margin-left: 13rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.694);
    font-size: 14px;
}

.valor-boxhouse {
    margin-left: -2rem;
    margin-top: 1.7rem;
}

.valor-boxhouse button {
    color: rgba(0, 0, 0, 0.548);
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.174);
    font-size: 16px;
    font-weight: 550;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
