/* import fonts google */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;700;800;900&display=swap");

/* Reset CSS */

* {
    font-family: "inter";
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* NavBar */

body {
    overflow-x: hidden;
}

a {
    color: rgb(255, 255, 255);
}

.logo {
    position: absolute;
    margin-top: 5px;
    letter-spacing: 2px;
    margin-left: -70rem;
    font-size: 35px;
    font-weight: bold;
    font-family: "Inconsolata";
    border-right: 4px solid;
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(15), blinking 1s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    z-index: 2;
}

.nav-list {
    display: flex;
    margin-top: 10px;
    margin-left: 36.5rem;
    letter-spacing: 2px;
}

.nav-list li {
    margin-left: 15px;
    font-size: 17.5px;
    font-weight: 600;
    padding: 7px 20px;
    transition: 0.8s;
}

.nav-list li:hover {
    background-color: rgba(0, 0, 0, 0.416);
    border-radius: 5px;
}

/* .nav-list li {
    margin-left: 34px;
    font-size: 17.5px;
    font-weight: 600;
}

.nav-list-div:hover {
    background-color: rgba(0, 0, 0, 0.361);
    padding: 7px 30px 7px 1px;
    border-radius: 5px;
    transition: 0.8s;
    margin-top: -7px;
}

.nav-list-div2:hover {
    background-color: rgba(0, 0, 0, 0.361);
    padding: 7px 30px 7px 1px;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.8s;
    margin-top: -7px;
}

.nav-list-div3:hover {
    background-color: rgba(0, 0, 0, 0.361);
    padding: 7px 30px 7px 0px;
    border-radius: 5px;
    margin-top: -7px;
    margin-left: 10px;
    transition: 0.8s;
} */

.icon-navbar {
    margin-left: 24rem;
}

.icon-navbar a {
    margin-left: 19px;
}

.icon-navbar i {
    font-size: 20px;
}

.icon-navbar i:hover {
    opacity: 0.3;
    transition: 0.8s;
}

header.rolagem a {
    color: black;
    transition: 1s;
}

header.rolagem .nav-list li:hover {
    background-color: rgba(255, 255, 255, 0.338);
}

/* Main */

.img1 {
    margin-top: -1rem;
    margin-left: -1rem;
    width: 95.4rem;
    height: 55rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
.video {
    margin-top: -1rem;
    margin-left: -1rem;
    width: 95.4rem;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.imagem2 {
    width: 95.4rem;
    height: 100vh;
    margin-left: -1rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.title1 {
    position: fixed;
    margin-top: 6rem;
    margin-left: 40.7rem;
    z-index: 2;
}

.title1 h1 {
    color: white;
    font-size: 40px;
}

.title2 {
    position: fixed;
    margin: 10rem;
    margin-left: 42rem;
    font-size: 12px;
}

.title2 h2 {
    color: white;
}

.bnt1 {
    position: fixed;
    margin-top: 37.5rem;
    margin-left: 28rem;
    padding: 10px 90px 10px 90px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.829);
    z-index: 2;
}

.bnt1 a {
    color: black;
    font-weight: 500;
}

.bnt2 {
    position: fixed;
    margin-top: 37.5rem;
    margin-left: 47.5rem;
    padding: 10px 90px 10px 90px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.701);
    z-index: 2;
}

.bnt2 {
    font-weight: 500;
}

main.rolagem h1 {
    color: black;
    transition: 1s;
}

main.rolagem h2 {
    color: black;
    transition: 1s;
}

/* Resposiv */

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    background-color: rgb(255, 255, 255);
    width: 39px;
    height: 3px;
    margin: 8px;
    border-radius: 3vh;
    transition: 0.4s;
}

@media (max-width: 1500px) {
    .icon-navbar {
        margin-left: 24rem;
    }
}

@media (max-width: 1460px) {
    .icon-navbar {
        margin-left: 23rem;
    }
}

@media (max-width: 1400px) {
    .icon-navbar {
        margin-left: 20rem;
    }
}

@media (max-width: 1380px) {
    .icon-navbar {
        margin-left: 17rem;
    }

    .nav-list {
        display: flex;
        margin-left: 21rem;
        letter-spacing: 2px;
    }

    .title1 {
        position: fixed;
        margin-top: 5rem;
        margin-left: 38rem;
        z-index: 2;
    }

    .title2 {
        position: fixed;
        margin: 9rem;
        margin-left: 39.5rem;
        font-size: 12px;
    }

    .bnt1 {
        position: fixed;
        margin-top: 36rem;
        margin-left: 27rem;
        padding: 10px 90px 10px 90px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.829);
        z-index: 2;
    }

    .bnt2 {
        position: fixed;
        margin-top: 36rem;
        margin-left: 46.5rem;
        padding: 10px 90px 10px 90px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.701);
        z-index: 2;
    }

    .video {
        margin-top: -1rem;
        margin-left: -1rem;
        width: 90rem;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .imagem2 {
        width: 90rem;
        height: 100vh;
        min-width: 35rem;
        margin-left: -1rem;
        margin-top: -1rem;
        margin-bottom: -1rem;
    }
}

@media (max-width: 1260px) {
    .nav-list {
        position: absolute;
        top: 9vh;
        left: 40rem;
        width: 50vh;
        height: 100vh;
        border-radius: 5px;
        background-color: rgba(247, 246, 246, 0.372);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(120%);
        z-index: 3;
        transition: transform 0.3s ease-in;
    }

    .nav-list-div:hover {
        background-color: rgba(0, 0, 0, 0.361);
        padding: 7px 18px 7px 18px;
        border-radius: 5px;
        transition: 0.8s;
        margin-top: -7px;
    }

    .nav-list-div2:hover {
        background-color: rgba(0, 0, 0, 0.361);
        padding: 7px 18px 7px 18px;
        border-radius: 5px;
        margin-left: 10px;
        transition: 0.8s;
        margin-top: -7px;
    }

    .nav-list-div3:hover {
        background-color: rgba(0, 0, 0, 0.361);
        padding: 7px 18px 7px 18px;
        border-radius: 5px;
        margin-top: -7px;
        margin-left: 10px;
        transition: 0.8s;
    }

    header.rolagem .nav-list {
        background-color: rgba(0, 0, 0, 0.196);
        transition: 0.5s;
    }

    header.rolagem .nav-list a {
        color: rgb(21, 19, 19);
        font-weight: 1000;
    }

    header.rolagem .mobile-menu div {
        background-color: black;
    }

    .icon-navbar {
        opacity: 0;
    }

    .nav-list li {
        margin-left: 0;
    }

    .logo {
        position: absolute;
        margin-right: 73rem;
    }

    .bnt1 {
        margin-left: 20rem;
    }

    .bnt2 {
        margin-left: 39.5rem;
    }

    .title1 {
        margin-left: 33rem;
    }

    .title2 {
        margin-left: 34.3rem;
    }

    .nav-list {
        margin-left: 16.5rem;
    }

    .video {
        width: 80rem;
    }

    .imagem2 {
        width: 80rem;
    }

    .mobile-menu {
        display: block;
        margin-left: 65.5rem;
    }
}

@media (max-width: 1060px) {
    .mobile-menu {
        display: block;
        margin-left: 55rem;
    }

    .nav-list {
        left: 29rem;
    }

    .logo {
        left: 1rem;
        margin: 1px;
    }

    .title1 {
        margin-left: 27rem;
    }

    .title2 {
        margin-left: 28rem;
    }

    .bnt1 {
        margin-left: 17rem;
    }

    .bnt2 {
        margin-left: 36.5rem;
    }

    .video {
        width: 74rem;
        height: 100%;
    }

    .imagem2 {
        width: 68rem;
    }
}

@media (max-width: 375px) {
    .title1 {
        margin-left: 10px;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes naviconsFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.nav-list.active {
    transform: translate(0);
}

.bnt.active {
    opacity: 0;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    gap: 20px;
}

.footer-list a {
    color: rgba(0, 0, 0, 0.397);
}
